
    <h2>Welcome, <%=@user.name.capitalize %>!</h2>
    <h3>Thank you for your interest in Newsstand. We source the best reading materials for smart people like you.</h3>
    </br>
    <h3><a href="/titles">Feel free to browse our available titles!</a></h3><br>
    <h3>OR please select the titles you wish to include in your new subscription:</h3>

    <form action="/subscriptions" method="POST">
    <%@titles.each do |title|%>
        <input type="checkbox" name="subscription[title_ids][]" value="<%=title.id%>"><%=title.name%></input></br>
    <%end%>
    </br>
    <input type="submit" value="Confirm subscription">
    </form>
    <br></br>

    <a href="/titles">See our available titles</a><br>
    <a href="/logout">Logout</a>
