
    <h1>Hi, <%=@user.name.capitalize %>!</h1>
    <h3>Sorry to see you go! Care to try again?</h3>
    </br>
    <ul>
      <li><h2><a href="/titles">Browse our available titles</a></h2></br></li>
      <li><h2><a href="/subscriptions/new">Create a new subscription</a></h2></br></li>
    </ul>



    <a href="/logout">Logout</a>
