<h1>Newsstand</h1>
<h2>Welcome, <%= @user.name %></h2>
<h3>Please select your subscription model:</h3>

<h3>LITE</h3>
<p>Just the basic titles in news and entertainment. Five titles, $9.99/month</p>
<h3>EXTRA</h3>
<p>Are you into yachts? Or perhaps cigars? Get the basics with a touch of flair. Twelve titles, $15.99/month</p>
<h3>EVERYTHING</h3>
<p>If you consider yourself to be the ultimate consumer of the zeitgeist, this is the deal for you. Unlimited titles, unlimited categories, only $19.99/month</p>

<a href="/categories">Categories</a>
<a href="/titles">Titles</a>
<a href="/logout">Logout</a>
