<h1>Newsstand</h1>
<h2>Welcome, <%= @user.name %></h2>
<h3>Add a new title:</h3>

<form action="/titles" method="POST">
  <label>Title name:</label>
  <input name="title[name]" type="text" id="Name">
<br></br>


  <input type="submit" value="Create">

</form>
