<h1>Newsstand</h1>
<h2>Welcome, <%= @user.name %></h2>
<h2>What would you like to read about today?</h2>
<ul>
  <% @categories.each do |category| %>
    <li><a href="/categories/<%= category.id %>"> <%= category.name %></a></li>
  <% end %>
</ul>
<h4><a href="/logout">Logout</a></h4>
<h4><a href="/subscriptions">Subscriptions</a></h4>
