<h1>Extra! Extra! Read all about it!</h1>
<h2>Login</h2>
<form action="/login" method="POST">
  <input type="text" name="name" id="name" placeholder="Username:">
  <input type="text" name="password" id="password" placeholder="Password:">
  <input type="submit" value="submit">
</form>
<br>
<a href="/signup">New to Newsstand? Sign up!</a>
